In [1]:
import pandas as pd
from os import listdir
from os import getcwd
from os.path import isfile, join

In [2]:
! pip install lxml

Requirement already satisfied: lxml in c:\users\again\anaconda3\envs\pythondata\lib\site-packages (4.6.3)

In [3]:
#retrieve list of files
path = 'raw_asc'
onlyfiles = [f for f in listdir(path) if isfile(join(path,f))]
onlyfiles

['ontime.td.201901.asc',
 'ontime.td.201902.asc',
 'ontime.td.201903.asc',
 'ontime.td.201904.asc',
 'ontime.td.201905.asc',
 'ontime.td.201906.asc',
 'ontime.td.201907.asc',
 'ontime.td.201908.asc',
 'ontime.td.201909.asc',
 'ontime.td.201910.asc',
 'ontime.td.201911.asc',
 'ontime.td.201912.asc']

In [5]:
#retrieve headers from site
header_list = pd.read_html('https://esubmit.rita.dot.gov/On-Time-Form3a.aspx')[2]
header_list.to_csv('headers_list.csv')

In [4]:
#combine dataframes
combined = pd.DataFrame()
for f in onlyfiles:
    airline = pd.read_table('raw_asc/'+ f , delimiter = "|", header = None, low_memory = False)
    #airline.rename(headers,axis=1,inplace=True)
    airline.drop(airline.columns[[2,3,4,5,11,14,16,17,26,27,28,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70]],axis=1,inplace=True)
    combined = combined.append(airline)
combined

,0,1,6,7,8,9,10,12,13,15,...,29,30,31,32,33,34,35,36,37,38
0,DL,3518,ATL,FAY,20190123,3,1703,2143,1824,2258,...,NaN,212,62,0,0,0,0,0,0,0
1,DL,6045,LGA,CLT,20190122,2,1500,1452,1728,1708,...,NaN,0,0,0,0,0,0,0,0,0
2,DL,6275,DTW,GSP,20190118,5,825,835,1035,1033,...,NaN,0,0,0,0,0,0,0,0,0
3,DL,6275,GSP,DTW,20190124,4,1110,1103,1305,1239,...,NaN,0,0,0,0,0,0,0,0,0
4,DL,6059,CLT,LGA,20190122,2,1200,1301,1407,1541,...,NaN,0,0,33,0,61,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679991,UA,5477,ORD,CHS,20191229,7,1220,1225,1540,1527,...,NaN,0,0,0,0,0,0,0,0,0
679992,UA,5418,CHS,ORD,20191229,7,1649,1638,1829,1749,...,NaN,0,0,0,0,0,0,0,0,0
679993,UA,5608,ORF,ORD,20191228,6,1845,1840,2023,2007,...,NaN,0,0,0,0,0,0,0,0,0
679994,UA,5592,ORD,ORF,20191228,6,1456,1449,1814,1750,...,NaN,0,0,0,0,0,0,0,0,0
679995,UA,5829,DEN,RAP,20191202,1,15,757,133,941,...,NaN,0,462,26,0,0,0,0,0,0

In [5]:
#reindex columns
columns=[]
for x in range(28):
    columns.append(x)
combined.columns = columns
combined

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,DL,3518,ATL,FAY,20190123,3,1703,2143,1824,2258,...,NaN,212,62,0,0,0,0,0,0,0
1,DL,6045,LGA,CLT,20190122,2,1500,1452,1728,1708,...,NaN,0,0,0,0,0,0,0,0,0
2,DL,6275,DTW,GSP,20190118,5,825,835,1035,1033,...,NaN,0,0,0,0,0,0,0,0,0
3,DL,6275,GSP,DTW,20190124,4,1110,1103,1305,1239,...,NaN,0,0,0,0,0,0,0,0,0
4,DL,6059,CLT,LGA,20190122,2,1200,1301,1407,1541,...,NaN,0,0,33,0,61,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679991,UA,5477,ORD,CHS,20191229,7,1220,1225,1540,1527,...,NaN,0,0,0,0,0,0,0,0,0
679992,UA,5418,CHS,ORD,20191229,7,1649,1638,1829,1749,...,NaN,0,0,0,0,0,0,0,0,0
679993,UA,5608,ORF,ORD,20191228,6,1845,1840,2023,2007,...,NaN,0,0,0,0,0,0,0,0,0
679994,UA,5592,ORD,ORF,20191228,6,1456,1449,1814,1750,...,NaN,0,0,0,0,0,0,0,0,0
679995,UA,5829,DEN,RAP,20191202,1,15,757,133,941,...,NaN,0,462,26,0,0,0,0,0,0

In [6]:
#read in mapped headers
headers = pd.read_csv('headers_mapping.csv').to_dict()['Field']
headers

{0: 'Mkt_Ccode',
 1: 'Mkt_Fl_No',
 2: 'Dep_Airport',
 3: 'Arr_Airport',
 4: 'Date',
 5: 'Day_Week',
 6: 'Sched_Dep_Time_OAG',
 7: 'Gate_Dep_Time_Actual',
 8: 'Sched_Arr_Time_OAG',
 9: 'Gate_Arr_Time_Actual',
 10: 'Sched_Elapsed_Time_CRS',
 11: 'Actual_Gate_Gate_Time',
 12: 'Dep_Delay_Time_Actual',
 13: 'Arr_Delay_Time_Actual',
 14: 'Elapsed_Time_Diff_Actual',
 15: 'Wheels_Off_Time_Actual',
 16: 'Wheels_On_Time_Actual',
 17: 'Tail_Number',
 18: 'Cancel_Code',
 19: 'Mins_Late_Delay_Code_E_Carrier',
 20: 'Mins_Late_Delay_Code_F_Weather',
 21: 'Mins_Late_Delay_Code_G_NAS',
 22: 'Mins_Late_Delay_Code_H_Security',
 23: 'Mins_Late_Delay_Code_I_Late_Arr_Flight',
 24: 'First_Gate_Dep_Time',
 25: 'Total_Ground_Away_From_Gate',
 26: 'Longest_Ground_Time_Away_From_Gate',
 27: 'No_Landings_At_Div_Airport'}

In [7]:
#rename columns
combined.rename(headers,axis=1,inplace=True)
combined

,Mkt_Ccode,Mkt_Fl_No,Dep_Airport,Arr_Airport,Date,Day_Week,Sched_Dep_Time_OAG,Gate_Dep_Time_Actual,Sched_Arr_Time_OAG,Gate_Arr_Time_Actual,...,Cancel_Code,Mins_Late_Delay_Code_E_Carrier,Mins_Late_Delay_Code_F_Weather,Mins_Late_Delay_Code_G_NAS,Mins_Late_Delay_Code_H_Security,Mins_Late_Delay_Code_I_Late_Arr_Flight,First_Gate_Dep_Time,Total_Ground_Away_From_Gate,Longest_Ground_Time_Away_From_Gate,No_Landings_At_Div_Airport
0,DL,3518,ATL,FAY,20190123,3,1703,2143,1824,2258,...,NaN,212,62,0,0,0,0,0,0,0
1,DL,6045,LGA,CLT,20190122,2,1500,1452,1728,1708,...,NaN,0,0,0,0,0,0,0,0,0
2,DL,6275,DTW,GSP,20190118,5,825,835,1035,1033,...,NaN,0,0,0,0,0,0,0,0,0
3,DL,6275,GSP,DTW,20190124,4,1110,1103,1305,1239,...,NaN,0,0,0,0,0,0,0,0,0
4,DL,6059,CLT,LGA,20190122,2,1200,1301,1407,1541,...,NaN,0,0,33,0,61,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679991,UA,5477,ORD,CHS,20191229,7,1220,1225,1540,1527,...,NaN,0,0,0,0,0,0,0,0,0
679992,UA,5418,CHS,ORD,20191229,7,1649,1638,1829,1749,...,NaN,0,0,0,0,0,0,0,0,0
679993,UA,5608,ORF,ORD,20191228,6,1845,1840,2023,2007,...,NaN,0,0,0,0,0,0,0,0,0
679994,UA,5592,ORD,ORF,20191228,6,1456,1449,1814,1750,...,NaN,0,0,0,0,0,0,0,0,0
679995,UA,5829,DEN,RAP,20191202,1,15,757,133,941,...,NaN,0,462,26,0,0,0,0,0,0

In [8]:
import psycopg2
#!pip install config
import config
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [9]:
#CREATE DB
# Connect to PostgreSQL DBMS
con = psycopg2.connect("user=postgres password='XXXX'");
con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);

#connect to postgresql dbms
conn = psycopg2.connect("user=postgres password='XXXX'");
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);

#obtain db cursor
cursor = con.cursor();
name_database = "airline_db"

#create table statement
sqlCreateDatabase = "create database "+name_database+";"

#create a table in postgres
cursor.execute(sqlCreateDatabase);

DuplicateDatabase: database "airline_db" already exists

#CREATE TABLE


#connect to table
postgresConnection = psycopg2.connect("dbname=airline_db user=postgres password='XXXX'")

#get cursor object from database connection
cursor = postgresConnection.cursor()
name_table = 'main_airline'

#create table statement
sqlcreatetable = "CREATE TABLE "+name_table+" (Mkt_Ccode VARCHAR(2), Mkt_Fl_No VARCHAR(4),Dep_Airport VARCHAR(3),Arr_Airport VARCHAR(3),Date DATE,Day_Week SMALLINT,Sched_Dep_Time_OAG TIMESTAMP,Gate_Dep_Time_Actual TIMESTAMP,Sched_Arr_Time_OAG TIMESTAMP,Gate_Arr_Time_Actual TIMESTAMP,Sched_Elapsed_Time_CRS TIMESTAMP,Actual_Gate_Gate_Time TIMESTAMP,Dep_Delay_Time_Actual TIMESTAMP,Arr_Delay_Time_Actual TIMESTAMP,Elapsed_Time_Diff_Actual SMALLINT,Wheels_Off_Time_Actual SMALLINT,Wheels_On_Time_Actual SMALLINT,Tail_Number VARCHAR(6),Cancel_Code VARCHAR(1),Mins_Late_Delay_Code_E_Carrier SMALLINT,Mins_Late_Delay_Code_F_Weather SMALLINT,Mins_Late_Delay_Code_G_NAS SMALLINT,Mins_Late_Delay_Code_H_Security SMALLINT,Mins_Late_Delay_Code_I_Late_Arr_Flight SMALLINT,First_Gate_Dep_Time TIMESTAMP,Total_Ground_Away_From_Gate SMALLINT,Longest_Ground_Time_Away_From_Gate SMALLINT,No_Landings_At_Div_Airport SMALLINT);"

#create in database
cursor.execute(sqlcreatetable)
postgresConnection.commit()

In [12]:
#connect to table
postgresConnection = psycopg2.connect("dbname=airline_db user=postgres password='XXXX'")

#get cursor object from database connection
cursor = postgresConnection.cursor()
sqlstmt = "DROP TABLE main_airline;"

cursor.execute(sqlstmt)
postgresConnection.commit()

In [10]:
combined.to_csv('main_airline.csv')

In [11]:
#load data
from sqlalchemy import create_engine
engine= create_engine('postgresql://postgres:XXX@localhost:5432/airline_db')
combined.to_sql('main_airline',engine)